
<!DOCTYPE html><html class=''>
<head><script src='//assets.codepen.io/assets/editor/live/console_runner-d0a557e5cb67f9cd9bbb9673355c7e8e.js'></script><script src='//assets.codepen.io/assets/editor/live/events_runner-21174b4c7273cfddc124acb0876792e0.js'></script><script src='//assets.codepen.io/assets/editor/live/css_live_reload_init-7618a0de08795409d8f6c9ef6805f7b2.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="https://codepen.io/HvS/pen/xbqxNr#anon-login" />

<link rel='stylesheet prefetch' href='http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css'>
<style class="cp-pen-styles">h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0}
body{font-family: sans-serif}
.container{margin: 50px auto auto;width: 450px}
.NewsTickerWrapper{position: relative}
.NewsTickerWrapper h2{background:#355570;padding: 5px;margin: 0;border:1px solid #355570;border-bottom: none;color:#fff;font-size: 120%}
.NewsTickerWrapper h2 .ion{width: 16px;margin-right: 5px;}
.NewsTickerWrapper .NewsPinned a{border: 1px solid #355570;border-bottom:none;padding: 10px;background: #df4949;color:#fff;display: block;text-decoration: none;}
.NewsTickerWrapper .NewsPinned a .ion{margin-right: 5px;font-size:120%;transform: rotate(-30deg);-webkit-transform: rotate(-30deg)}
.NewsTicker{border:1px solid #355570;list-style-type: none;margin: 0;padding: 0}
.NewsTicker li{position: relative;font-size: 90%;border-bottom: 1px solid #355570;cursor: pointer}
.NewsTicker li:hover{background: #f3f3f3}
.NewsTicker li>a{color:#233843;text-decoration: none;}
.NewsTickerDescription{background: #fff;border:3px solid #355570;padding: 10px;font-size: 85%;z-index: 2}
.FlaggedNews>a{padding-left: 25px !important;}
.NewsTicker .NewsFlag{position: absolute;top:3px;left:3px;}
.NewsTicker .NewsFlag .ion{color:#c00;margin: 0 3px;position: relative;top:-2px;font-size:140%}
.NewsTicker .NewsInfo{padding:0 0 3px;margin:0;line-height: 18px;font-size: 90%;color:#aaa;background: #fff;color:#333}
.NewsTicker .NewsInfo>a,.NewsTicker .NewsInfo>span{display: inline-block;margin: 0 5px}
.NewsTicker .NewsInfo>a{text-decoration: none;color:#1faeff;padding: 0 3px}
.NewsTicker .NewsInfo>a .ion{margin-right: 3px}
.NewsTicker .NewsInfo>a:hover{background: #1faeff;color:#fff;text-decoration: none}
.NewsTickerWrapper .NewsTickerMore{position: absolute;top:100%;left:0;background: #355570;color:#fff;text-decoration: none;font-size: 90%;padding: 3px;transform-origin:top center;-webkit-transform-origin:top center;-moz-transform-origin:top center;-o-transform-origin:top center;-ms-transform-origin:top center;transform:rotateX(90deg);-webkit-transform:rotateX(90deg);-moz-transform:rotateX(90deg);-o-transform:rotateX(90deg);-ms-transform:rotateX(90deg);-webkit-transition: all .25s ease-in-out;transition: all .25s ease-in-out;-moz-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;-ms-transition: all .25s ease-in-out;}
.NewsTickerWrapper:hover .NewsTickerMore{transform:rotateX(0deg);-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-o-transform:rotateX(0deg);-ms-transform:rotateX(0deg)}</style></head><body>
<div class="container">
        <ul class="NewsTicker1 NewsTicker">
        </ul>
    </div>
<script src='//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script>/*global $, clearInterval, setInterval, window*/
$.fn.MDNewsTicker = function (options) {
    "use strict";
    var defaults = {
            data: null,
            newsTickerTitle: "<h2><i class='ion-ios-paper ion'></i>News</h2>",
            showCount: 2,
            maxLineCount: 1,
            newsLineHeight: 20,
            itemPadding: 10,
            timer: 3000,
            showDescription: true,
            descriptionWidth: 300
        },
        settings = $.extend({}, defaults, options);

    return this.each(function () {
        var NewsTickerContainer = $(this),
            TimerName = NewsTickerContainer.attr("class") + Math.floor((Math.random() * 10000) + 1),
            MaxItemCount = 0,
            ItemHeight = 0,
            PinnedCount = 0,
            MoreURL = "";

        function createNewsTicker() {
            MaxItemCount = MaxItemCount - PinnedCount;
            if (settings.showCount > MaxItemCount) {
                settings.showCount = MaxItemCount;
            }
            ItemHeight = (settings.newsLineHeight + settings.itemPadding);
            NewsTickerContainer.wrap("<div class='NewsTickerWrapper'></div>");
            $(".NewsTickerWrapper").prepend(settings.newsTickerTitle);
            $(".NewsPinned").insertBefore(NewsTickerContainer);
            $("<a href='" + MoreURL + "' class='NewsTickerMore'>More...</a>").appendTo(".NewsTickerWrapper");
            NewsTickerContainer.css({
                "height": (((ItemHeight) * settings.maxLineCount) + $(".NewsInfo").outerHeight()) * settings.showCount + (settings.showCount - 1),
                "overflow": "hidden"
            });
            NewsTickerContainer.find("li").children("a").css({
                "display": "block",
                "line-height": ItemHeight + "px",
                "height": ItemHeight * settings.maxLineCount,
                "padding": "0 " + settings.itemPadding + "px",
                "overflow": "hidden"
            });

            function newsTickerAutoPlay() {
                NewsTickerContainer.find("li:first-child").slideUp(200, function () {
                    $(this).appendTo(NewsTickerContainer).fadeIn();
                });
            }

            function playNewsTicker() {
                TimerName = setInterval(function () {
                    newsTickerAutoPlay();
                }, settings.timer);
            }
            playNewsTicker();
            $(NewsTickerContainer).on("mouseenter", function () {
                clearInterval(TimerName);
            }).on("mouseleave", function () {
                playNewsTicker();
            });
            $(".NewsTickerWrapper").find("li, .NewsPinned").on("mouseenter", function (e) {
                var thisDescription = $(this).data("news-content");
                if (settings.showDescription) {
                    $("<div class='NewsTickerDescription'></div>").html(thisDescription).appendTo("body").css({
                        "position": "absolute",
                        "left": e.pageX + 20,
                        "top": e.pageY + 10,
                        "width": settings.descriptionWidth
                    });
                }
                $(this).find(".NewsInfo").show();
                NewsTickerContainer.height(NewsTickerContainer.height());
            }).on("mousemove", function (e) {
                $(".NewsTickerDescription").css({
                    "left": e.pageX + 20,
                    "top": e.pageY + 10
                });
            }).on("mouseleave", function () {
                $(".NewsTickerDescription").remove();
                //$(this).find(".NewsInfo").hide();
                NewsTickerContainer.height(NewsTickerContainer.height());
            });
        }
        if (settings.data !== null) {
            MaxItemCount = settings.data.news.length;
            MoreURL = settings.data.more.url;
            $.grep(settings.data.news, function (e) {
                if (!e.pinned) {
                    $("<li><a href='" + e.url + "'>" + e.title + "</a><p class='NewsInfo'><a href='" + e.commentURL + "'><i class='ion-ios-chatboxes ion'></i><span>" + e.commentCount + "</span></a><span>" + e.date + "</span></p></li>").data("news-content", e.description).appendTo(NewsTickerContainer).on("click", function () {
                        window.location.href = e.url;
                    });
                    if (e.flag) {
                        NewsTickerContainer.find("li:last-child").addClass("FlaggedNews");
                        $("<span class='NewsFlag'><i class='ion-android-star ion'></i></span>").css({
                            "height": (settings.itemPadding / 2) + settings.newsLineHeight
                        }).appendTo(NewsTickerContainer.find("li:last-child>a"));
                    }
                } else {
                    PinnedCount += 1;
                    $("<div class='NewsPinned'><p><a href='" + e.url + "'><i class='ion-pin ion'></i>" + e.title + "</a></p></div>").data("news-content", e.description).insertBefore(NewsTickerContainer);
                }
            });
            createNewsTicker();
        }
    });
};

$(document).ready(function () {
    "use strict";
    var sampleJsonData = {
        news: [
            {
                title: "Proin vulputate accumsan ex, vitae gravida dui accumsan a. Proin vulputate accumsan ex, vitae gravida dui accumsan a Proin vulputate accumsan ex, vitae gravida dui accumsan a Proin vulputate accumsan ex, vitae gravida dui accumsan a",
                description: "Proin vulputate accumsan ex, vitae gravida dui accumsan a. Donec mollis sem at vestibulum sollicitudin. Nullam ac elementum sem. Duis aliquet ligula ac risus tincidunt, sit amet dictum turpis vestibulum. Integer semper pellentesque justo vel malesuada. Nunc eget urna efficitur, tristique felis eu, mollis tortor. In rutrum eros posuere dolor pharetra aliquet. In porta condimentum magna, ac volutpat ex dapibus et. Phasellus convallis felis enim, id commodo eros venenatis ut. In volutpat felis eu risus posuere, non imperdiet enim sollicitudin. Nunc id sem semper, placerat dolor eget, porttitor mauris.",
                url: "#1",
                flag: false,
                commentCount: 3,
                commentURL: "#comment1",
                date: "00.00.0000",
                pinned: false
            }, {
                title: "Vivamus rhoncus mattis porta. Proin vulputate accumsan ex, vitae gravida dui accumsan a Proin vulputate accumsan ex, vitae gravida dui accumsan a",
                description: "Vivamus rhoncus mattis porta. Mauris eget ipsum quam. Praesent vitae malesuada justo. Sed mattis arcu quis faucibus scelerisque. Proin at neque non enim accumsan semper id nec libero. Nulla volutpat, enim ut volutpat vehicula, dui orci pharetra enim, sit amet commodo erat sapien ac odio. Maecenas id blandit felis. Aliquam consequat vel lectus eu placerat. Aliquam vel neque auctor, fermentum ipsum eu, feugiat diam. Aliquam consectetur tincidunt mollis. Sed leo augue, pulvinar id magna at, sollicitudin pellentesque est. Aliquam quis ullamcorper velit. Nunc pharetra orci dolor, a malesuada turpis vulputate vel. Vivamus malesuada commodo turpis, eu elementum justo aliquam at. Fusce malesuada massa est, id fermentum dolor bibendum id. Vestibulum vitae justo at nunc gravida tempus sit amet non ligula.",
                url: "#2",
                flag: true,
                commentCount: 1,
                commentURL: "#comment2",
                date: "00.00.0000",
                pinned: false
            }, {
                title: "Nullam auctor est quis euismod vestibulum.",
                description: "<img src='http://www.freeimages.com/assets/183233/1832329885/flower-1443720-m.jpg'><hr/>Nullam auctor est quis euismod vestibulum. Ut eu mattis purus. Suspendisse id ex et orci gravida facilisis. Sed consectetur eget elit non hendrerit. Morbi et velit risus. Cras fringilla consequat felis, nec placerat enim porttitor quis. Cras hendrerit nec purus auctor commodo. Praesent quis metus finibus sem vestibulum eleifend. Aenean lacinia neque nec urna dictum, et accumsan lacus placerat.",
                url: "#3",
                flag: true,
                commentCount: 14,
                commentURL: "#comment3",
                date: "00.00.0000",
                pinned: true
            }, {
                title: "Vestibulum euismod dignissim enim vitae fringilla.",
                description: "<ul><li>In accumsan enim at arcu pharetra euismod.</li><li>Donec auctor ligula nec erat molestie, a facilisis lacus porta.</li><li>Cras cursus eros at magna sollicitudin, in aliquet augue interdum.</li><li>Mauris aliquet arcu ac turpis condimentum ullamcorper.</li></ul>",
                url: "#4",
                flag: false,
                commentCount: 0,
                commentURL: "#comment4",
                date: "00.00.0000",
                pinned: false
            }, {
                title: "Sed vel mollis massa, at gravida tortor.",
                description: "Sed vel mollis massa, at gravida tortor. Praesent consectetur nec leo et pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis rutrum eros ut ligula placerat, in convallis tellus dapibus. Donec vitae scelerisque elit, sit amet facilisis erat. Curabitur tortor ipsum, vestibulum vel consequat eu, accumsan quis lectus. Curabitur bibendum libero tempus nibh aliquet suscipit. Ut sagittis laoreet euismod. Vestibulum convallis ex metus, lobortis fringilla risus placerat et.",
                url: "#5",
                flag: false,
                commentCount: 3,
                commentURL: "#comment5",
                date: "00.00.0000",
                pinned: true
            }
        ],
        more: {
            url: "#moreurl"
        }
    };
    $(".NewsTicker1").MDNewsTicker({
        data: sampleJsonData
    });
});
//# sourceURL=pen.js
</script>
</body></html>
