<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<aside>
	<div class="panel radius">
		<h3>Tags:</h3>
			<div id="tags">
			  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
			    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
			    <a href="{{ site.url }}/tags/{{ this_word }}">
				    <span class="radius label">{{ this_word }} </span> 
				    <span class="round secondary label">{{ site.tags[this_word].size }}</span>
				</a>
			  {% endunless %}{% endfor %}
			</div>
	</div>

  <img class="b30" src="{{ site.urlimg }}wwb_img2.jpg" alt="">

</aside>
