---
layout: page
header:
  title: Soroka Clinical Research Center
  image_fullwidth: microdude.jpg
title: "Grants"
meta_title: "Grantss"
subheadline: ""
teaser: ""
permalink: "/Grantss/"
---
<link rel="stylesheet" href="{{site.urlass}}/timeline/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="{{site.urlass}}/timeline/style.css"> <!-- Resource style -->
<script src="{{site.urlass}}/timeline/modernizr.js"></script> <!-- Modernizr -->


<section id="cd-timeline" class="cd-container">

	{% for grant in site.data.grants %}
		<div class="cd-timeline-block">
			
			{% if grant.img contains 'picture' %}
					<div class="cd-timeline-img cd-picture">
			{% elsif grant.img contains 'movie' %}
					<div class="cd-timeline-img cd-movie">
			{% else %}
					<div class="cd-timeline-img cd-location">
			{% endif %}
						<img src="{{site.urlass}}/timeline/{{ grant.img }}">
					</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2 style="margin: 0 0 0 0;">{{ grant.title }}</h2>
				<p>{{ grant.source }}.</p>
				<p>PI - {{ grant.PIdr }}.</p>
				<span class="cd-date">{{ grant.date }}</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
 	{% endfor %}

</section> <!-- cd-timeline -->


<script src="{{site.urlass}}/timeline/main.js"></script> <!-- Resource jQuery -->
